*{
    padding:0;
    margin: 0;
    color:white;
    list-style: none;
    font-family: sans-serif;
    
}
body{
    background-color: black;
}
h1{
    font-size: 2.5rem;
}
h5{
    color:rgb(0, 113, 235);
}
a{
    text-decoration: none;
}
.fas {
    margin:3px
}
.fa-music{
    color: rgb(29, 185, 84);
}
.fa-film{
    color:red;
}
.fa-image{
    margin-right: 3px;
}
/* Header*/
.header-wrap {
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 999;

}
.header{
    display: flex;
    justify-content:space-between;
    padding: 0 50px;
    height: 4.8rem;
}

.header img {
    width: 8rem;
}
.header ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size:1.2rem;
    
}
/* Header END*/


/*red button*/

.redbutton{
    background-color:red;
    padding: 7px 17px;
    font-weight: 600;
    font-size : 1rem;
        border-radius:5px;
        text-decoration: none;


}

/*red button END*/

/*header content*/
.header-content-wrap{
    position: relative;
    top:4.8rem;
    text-align: center;
    background-image:  url(../../image/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 8px rgb(34, 34, 34) solid;
    
}

.header-content{
    padding:70px;
}
.header-content h1,iframe,h2{
    margin-bottom: 35px;
}
/* nut dang ky ngay trong header content */
#button {
    font-size: 26px;
    background-color:red;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size : 1.5rem;
    border-radius:5px;
    width: 15rem;
    margin:0 auto;
}


/*header content end*/


.tv-wrap {
    background-color: black;
    position: relative;
    border-bottom: 8px rgb(34, 34, 34) solid;
    top:4.8rem;
    padding: 0 50px;
}

.tv-content{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 70px;
}
.left .right{
    width: 50%;
    
    
}
.left{
    width: 40%;
        
}
#button2{
    border:1.5px white solid;
    width: 10rem;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
}

.frame{
    position: relative;
    z-index: 9;
    
}
.animation{
    position: absolute;
    top:17%;
    right:13.2%;
    
}
.animation video{
        object-fit: contain;

}
.tv-download{
     display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 70px;
}
.animation-box{
    border:2px solid grey;
    width:25rem;
    height: 7.5rem;
    border-radius: 15px;
    position: absolute;
    top:60%;
    left:15%;
    z-index:10;
    background-color: black;
    display:flex;
    align-items: center;
    
}
.animation-box img {
    margin: 10px;
}
#animation-box-content{
    width:17rem;
}
.animation2{
    position: absolute;
    top:9%;
    right:15.6%;
    
}
.faq{
position: relative;
text-align:center;
top:4.8rem;
background: black;
border-bottom: 8px rgb(34, 34, 34) solid;
padding-bottom: 70px;

}
.faq h1{
padding: 50px;
border :0;
}
.faq ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}
.faq ul li{
    padding: 10px;
    background-color: rgb(48, 48, 48);;
    width: 40%;
    text-align: left;
    font-size:26px;
    margin-bottom: 10px;
    
}


footer {
    background-color: black;
    position: relative;
    margin-top: 70px;
}
.footer {
    width:50%;
    display :flex;
    margin: 0px auto;
    padding: 70px;
    border-bottom: 1px solid grey;
    
}
.footer h2 {
    color:red;
    margin-right: 20px;
    color:rgb(166, 166, 200);
    font-size: 1rem;
}
.footer a {
    color:rgb(166, 166, 166);
    margin: 10px 0;
    font-size: 13px;
    display: block;
}
.keyword{
    font-size:13px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.keyword a{
    color:rgb(166, 166, 166);
}