*{
    padding:0;
    margin: 0;
    color:white;
    list-style: none;
    font-family: sans-serif;
    background-color: black;
}
h1{
    font-size: 2.5rem;
}
h5{
    color:rgb(0, 113, 235);
}
a{
    text-decoration: none;
}
.fas {
    margin:3px
}
.fa-music{
    color: rgb(29, 185, 84);
}
.fa-film{
    color:red;
}
.fa-image{
    margin-right: 3px;
}
/* Header*/
.header-wrap {
    width: 100%;
    background-color: black;
    position:fixed;
    z-index: 999;
}
.header{

    display: flex;
    justify-content:space-between;
    padding: 0 50px;
    height: 4.8rem;
}

.header img {
    width: 8rem;
}
.header ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size:1.2rem; 
}
.header ul li a:hover{
    
    text-decoration: underline;
      text-shadow: 2px 2px 20px white;
    transition-property: white;
  transition-duration: 2s;
    
}
/*red button*/
#redbutton{
    background-color:red;
    padding: 7px 17px;
    font-weight: 600;
    font-size : 1rem;
        border-radius:5px;
        text-decoration: none;
    display: block;


}
/* Header END*/










.wrap-noheader{
    top:4.8rem;
    position: relative;
    width: 80%;
    margin: 0 auto;
    
}
.wrap-noheader img{

}

.textSpotify{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5rem 0;
    
}
.textSpotify h1{
    padding: 15px 0;
}
.textSpotify h2{
    padding: 15px 0;
}
.textSpotify h3 a{
    padding: 15px 10px;
    width: 10rem;
    border-radius: 5px;
    border: 1px solid green;
    background-color: forestgreen;
    line-height: 3;
    margin-left: 1rem;
}

    

.imgspotify img {
    width: 90%;
  height: auto;
  object-fit: contain;
    padding-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}


.imgspotify h3 a{
    padding: 15px 10px;
    width: 10rem;
    border-radius: 5px;
    border: 1px solid green;
    background-color: forestgreen;
    margin:30px auto;
    margin-left: 1rem;
    
}

.imgspotify ul li{
    color: white;
    list-style: circle;
    margin-left: 2rem;
}


.imgspotify h4 {
    padding:10px;
    text-decoration: underline;
    
}





/*footer*/
footer {
    background-color: black;
    position: relative;
    margin-top: 90px;
    border-top:  8px rgb(34, 34, 34) solid;
    border-radius: 5px;
    padding-top: 2%;
    
}
.footer {
    width:60%;
    margin: 0 auto;
    display :flex;
    border-bottom: 1px solid grey;
    
}
@media only screen and (max-width:800px){
    .footer {
    width:100%;
    margin: 0 auto;
    display :flex;
    border-bottom: 1px solid grey;
    
}
}

.footer h2 {
    
    margin-right: 20px;
    color:rgb(166, 166, 200);
    font-size: 1rem;
    margin-left: 30px;
    text-align: left;
}
.footer a {
    color:rgb(166, 166, 166);
    margin: 10px 0;
    font-size: 13px;
    display: block;
    margin-left: 30px;
    text-align: left;
}
.keyword{
    font-size:13px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.keyword a{
    color:rgb(166, 166, 166);
}